cp_zip_fn=CP866
cp_content=CP1251

Первый_Канал=ОРТ
Россия=РТР
5=CПб
СТС_Москва=СТС
ТНТ=ТНТ
Рамблер_Телесеть=NBN-Рамблер
7_ТВ=7-ТВ
ТВ-3_Россия=ТВ3-РОССИЯ
Культура=Культура
31=СТО
НТВ=НТВ
ДТВ=НЕВСКИЙ+ДТВ
Муз_ТВ=МУЗ-ТВ
REN_TV=REN-TV
Спорт-Онлайн=Спорт
ТВ_Центр=ОТВ+ТВЦ
MTV-Россия=MTV
РБК_ТВ=РБК (кабель,спутник)
